<div class=" alternative detail-Module">
  <div class="container-fluid">
    <button mat-button [routerLink]="['/sujets']">{{Module.sujet}} ></button>
    <button mat-button onclick="history.go(-1)">
      <ngb-rating max=3 [readonly]="true" [(rate)]="Module.level"></ngb-rating>
    </button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col" label="Description">
        <h2 class="titre">{{Module.titre}}</h2>
        <div class="container">
          <div class="row">
            <div class="col-md-12 img">
              <img class="img-fluid" src="{{Module.img}}" alt="image session">
            </div>
            <div class="description col-md-8 offset-2">
              {{Module.description}}
            </div>
          </div>
        </div>
      </div>
      <div class="col" label="Sessions">
        <div class="">
          <div class="sessions">
            <div class="">
              <div>
                <h4>Liste des sessions</h4>
                <div class="row" *ngIf="Module.sessions != 0; else createSession">
                  <mat-form-field class="col">
                    <input matInput [matDatepicker]="debut" placeholder="Date de début" [formControl]="date_debut">
                    <mat-datepicker-toggle matSuffix [for]="debut"></mat-datepicker-toggle>
                    <mat-datepicker #debut></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="col">
                    <input matInput [matDatepicker]="fin" placeholder="Date de fin" [formControl]="date_fin">
                    <mat-datepicker-toggle matSuffix [for]="fin"></mat-datepicker-toggle>
                    <mat-datepicker #fin></mat-datepicker>
                  </mat-form-field>
                  <mat-list class="listSessions container">
                    <!-- <mat-list-item *ngFor="let session of Module.sessions, last as last"> -->
                      <mat-list-item *ngFor="let session of (Module.sessions| filterDatePipe: date_debut.value: date_fin.value), last as last">
                      <app-card-sessions [session]="session" class="col"></app-card-sessions>
                      <mat-divider *ngIf="!last"></mat-divider>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button mat-raised-button class="col-1 retour" onclick="history.go(-1)" color="primary">Retour</button>

  <ng-template #createSession>
    <div class="alert alert-danger">Désolé, Il n'existe pas de sessions pour ce module. Demander la création d'une
      session.</div>
    <button mat-raised-button color="accent" matTooltip=" Demander la création d'une session">Demander</button>
  </ng-template>
