<div class=" alternative detail-Module">
  <div class="container-fluid">
    <button mat-button [routerLink]="['/sujets']">{{sujet[0].name}} ></button>
    <button mat-button onclick="history.go(-1)">
      <ngb-rating max=3 [readonly]="true" [(rate)]="module.level"></ngb-rating>
    </button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col" label="Description">
        <h1 class="titre">{{module.titre}}</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-12 img">
              <img class="img-fluid" src="{{sujet[0].img}}" alt="image session">
            </div>
            <div class="description col-md-8 offset-2  text-justify">
              {{module.description}}
            </div>

          </div>
        </div>

      </div>
      <div class="col" label="Sessions">

        <mat-tab-group mat-stretch-tabs>
          <mat-tab>
            <ng-template mat-tab-label>
              Liste des sessions
            </ng-template>
            <div class="">
              <div class="sessions">
                <div class="container">
                  <div>

                    <div class="row" *ngIf="sessions != 0; else createSession">
                      <mat-form-field class="col">
                        <input matInput [matDatepicker]="debut" placeholder="Date de début" [formControl]="date_debut">
                        <mat-datepicker-toggle matSuffix [for]="debut"></mat-datepicker-toggle>
                        <mat-datepicker #debut></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field class="col">
                        <input matInput [matDatepicker]="fin" placeholder="Date de fin" [formControl]="date_fin">
                        <mat-datepicker-toggle matSuffix [for]="fin"></mat-datepicker-toggle>
                        <mat-datepicker #fin></mat-datepicker>
                      </mat-form-field>
                      <mat-list class="listSessions container">
                        <mat-list-item
                          *ngFor="let session of (sessions| filterDatePipe: date_debut.value: date_fin.value), last as last">
                          <app-card-sessions [session]="session" class="col"></app-card-sessions>
                          <mat-divider *ngIf="!last"></mat-divider>
                        </mat-list-item>
                      </mat-list>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Liste des sachants
            </ng-template>
            <div class="">
              <div class="sessions">
                <div class="container">
                  <div>

                    <div class="row">
                      <mat-list class="listParticipants container">
                        <mat-list-item *ngFor="let i of [].constructor(5); last as last">
                          <img style="height:100%"
                            src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/ce54bf11889067.562541ef7cde4.png"
                            alt="Photo de profil">
                          <h2 matLine>Jhon Jhon</h2>
                          <p matLine>Sachant</p>
                          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                        </mat-list-item>
                      </mat-list>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="alert alert-info">Aucun horraies ne vous convient, demander la création d'une session.</div>
        <div class="col"></div>
      </div>
    <div class="row">
      <div class="col"></div>
      <button mat-raised-button class="col-md-1" color="accent"
      matTooltip=" Demander la création d'une session">Demander</button>
      <div class="col"></div>
    </div>
  </div>
  <button mat-raised-button class="col-1 retour" onclick="history.go(-1)" color="primary">Retour</button>


  <ng-template #createSession>
    <div class="alert alert-danger">Désolé, Il n'existe pas de sessions pour ce module. Demander la création d'une
      session.</div>

  </ng-template>
