<mat-card class="example-card alternative">
  <mat-card-content>
    <h4>
      <ngb-rating max=3 [readonly]="true" [(rate)]="module.level"></ngb-rating>
    </h4>
    <h5>{{module.titre}}</h5>
    <br>
    <p>
      {{module.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['detail',module.id]" matTooltip=" Cliquez moi!" *ngIf="module.sessions.length !=0, else createSession">Choisir</button>
  </mat-card-actions>
</mat-card>

<ng-template #createSession>
  <div class="alert alert-danger">Désolé, Il n'existe pas de sessions pour ce module. Demander la création d'une session.</div>
<button mat-raised-button color="accent" matTooltip=" Demander la création d'une session">Soumettre</button></ng-template>