<div class="create ">
  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Nom et Prénom</ng-template>
        <mat-form-field>
          <input matInput placeholder="Prénom" formControlName="firstCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Nom de famille" formControlName="SecondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Adresse email</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address email" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Photo de profil</ng-template>
        <img mat-card-lg-image src="" alt="photo de profil">
        <br>
        <label for="exampleFormControlFile1">Photo de profil</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" formControlName="thirdCtrl" required>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Mot de passe</ng-template>
          <mat-form-field>
              <input matInput type="password" placeholder="Mot de passe" formControlName="fourthCtrl" required>
          </mat-form-field>
          <br>
          <mat-form-field>
              <input matInput type="password" placeholder=" confirmation Mot de passe" formControlName="fifthCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Retour</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finalisation</ng-template>
      Dernière étape
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="send()">Créer</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
