<div class="administration alternative">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Bienvenu sur la page d'administration</h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 offset-1">
        <button mat-raised-button matTooltip=" Cliquez moi!" (click)="goToAdministration('sujets')">
          <img src="" class="images" alt="Photo of sujet">
          <div>
            <h4>Sujets</h4>
          </div>
        </button>
      </div>
      <div class="col-sm-3 offset-1">
        <button mat-raised-button matTooltip=" Cliquez moi!" (click)="goToAdministration('modules')">
          <img src="" class="images" alt="Photo of sujet">
          <div>
            <h4>Modules</h4>
          </div>
        </button>
      </div>
      <div class="col-sm-3 offset-1">
        <button mat-raised-button matTooltip=" Cliquez moi!" (click)="goToAdministration('sessions')">
          <img src="" class="images" alt="PhoFto of sujet">
          <div>
            <h4>Sessions</h4>
          </div>
        </button>
      </div>
      <div class="col-sm-3 offset-1">
        <button mat-raised-button matTooltip=" Cliquez moi!" (click)="goToAdministration('utilisateurs')">
          <img src="" class="images" alt="Photo of sujet">
          <div>
            <h4>Utilisateurs</h4>
          </div>
        </button>
      </div>
    </div>
  </div>

</div>
