<div class="administration alternative">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Bienvenue sur la page d'administration</h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 offset-1">
        <button mat-raised-button matTooltip=" Cliquez moi!" (click)="goToAdministration('sujets')">
          <img src="../../assets/images/target.png" class="images" alt="Photo of sujet" height="250">
          <div>
            <h4>Sujets</h4>
          </div>
        </button>
      </div>
      <div class="col-sm-3 offset-1">
        <button mat-raised-button matTooltip=" Cliquez moi!" (click)="goToAdministration('modules')">
          <img src="../../assets/images/lure-module.png" class="images" alt="Photo of sujet" height="250">
          <div>
            <h4>Modules</h4>
          </div>
        </button>
      </div>
      <div class="col-sm-3 offset-1">
        <button mat-raised-button matTooltip=" Cliquez moi!" (click)="goToAdministration('sessions')">
          <img src="../../assets/images/presentation.png" class="images" alt="PhoFto of sujet" height="250">
          <div>
            <h4>Sessions</h4>
          </div>
        </button>
      </div>
    </div>
    <div class="row new-row">
      <div class="col-sm-3 offset-1">
        <button mat-raised-button matTooltip=" Cliquez moi!" (click)="goToAdministration('utilisateurs')">
          <img src="../../assets/images/friendship.png" class="images" alt="Photo of sujet" height="250">
          <div>
            <h4>Utilisateurs</h4>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
