<div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
<div [formGroup]="form" class="">  
  <div [ngSwitch]="question.controlType" class="">
    <span class="row" *ngSwitchCase="'starrating'">
      <p class="col-8 centered">{{question.label}}</p>
      <div class="col-2" ></div>
      <bar-rating class="col-2" [formControlName]="question.key" [id]="question.key" [(rate)]="rate" [max]="question.max" [theme]="'vertical'" [showText]="true" [titles]="question.options"></bar-rating>
    </span>
    <mat-form-field *ngSwitchCase="'textbox'" appearance="outline">
      <mat-label [attr.for]="question.key" mat-label>{{question.label}}</mat-label>
      <input matInput [type]="question.type" [id]="question.key" [formControlName]="question.key">
    </mat-form-field>
    <mat-form-field [id]="question.key" *ngSwitchCase="'dropdown'">
      <mat-label [attr.for]="question.key" mat-label>{{question.label}}</mat-label>
      <mat-select [formControlName]="question.key">
        <mat-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div> 
</div>